---
http_interactions:
- request:
    method: post
    uri: https://private-6d20e-coolpayapi.apiary-mock.com/api/login
    body:
      encoding: UTF-8
      string: '{"username":"your_username","apikey":"5up3r$ecretKey!"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5c9797020836cc0a00b54e0d
    body:
      encoding: UTF-8
      string: |-
        {
            "token": "aff06fec-e041-4994-849e-223f0569e0bc"
        }
  recorded_at: Sun, 24 Mar 2019 14:41:06 GMT
- request:
    method: post
    uri: https://private-6d20e-coolpayapi.apiary-mock.com/api/recipients
    body:
      encoding: UTF-8
      string: '{"recipient":{"name":"Jake McFriend"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer aff06fec-e041-4994-849e-223f0569e0bc
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5c9797030836cc0a00b54e0f
    body:
      encoding: UTF-8
      string: |-
        {
            "recipient": {
                "id": "e9a0336b-d81d-4009-9ad1-8fa1eb43418c",
                "name": "Jake McFriend"
            }
        }
  recorded_at: Sun, 24 Mar 2019 14:41:07 GMT
recorded_with: VCR 4.0.0
