---
http_interactions:
- request:
    method: post
    uri: https://private-6d20e-coolpayapi.apiary-mock.com/api/login
    body:
      encoding: UTF-8
      string: '{"username":"your_username","apikey":"5up3r$ecretKey!"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5c97a8740836cc0a00b57162
    body:
      encoding: UTF-8
      string: |-
        {
            "token": "aff06fec-e041-4994-849e-223f0569e0bc"
        }
  recorded_at: Sun, 24 Mar 2019 15:55:32 GMT
- request:
    method: post
    uri: https://private-6d20e-coolpayapi.apiary-mock.com/api/payments
    body:
      encoding: UTF-8
      string: amount=10.50&currency=GBP&recipient_id=6e7b146e-5957-11e6-8b77-86f30ca893d3
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer aff06fec-e041-4994-849e-223f0569e0bc
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5c97a8759759e90a00956e82
    body:
      encoding: UTF-8
      string: |-
        {
            "payment": {
                "id": "31db334f-9ac0-42cb-804b-09b2f899d4d2",
                "amount": "10.5",
                "currency": "GBP",
                "recipient_id": "6e7b146e-5957-11e6-8b77-86f30ca893d3",
                "status": "processing"
            }
        }
  recorded_at: Sun, 24 Mar 2019 15:55:33 GMT
recorded_with: VCR 4.0.0
