---
http_interactions:
- request:
    method: post
    uri: https://private-6d20e-coolpayapi.apiary-mock.com/api/login
    body:
      encoding: UTF-8
      string: '{"username":"your_username","apikey":"5up3r$ecretKey!"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5c9788482774a00a0087af75
    body:
      encoding: UTF-8
      string: |-
        {
            "token": "aff06fec-e041-4994-849e-223f0569e0bc"
        }
  recorded_at: Sun, 24 Mar 2019 13:38:16 GMT
- request:
    method: get
    uri: https://private-6d20e-coolpayapi.apiary-mock.com/api/recipients?name=Jake%20McFriend
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer aff06fec-e041-4994-849e-223f0569e0bc
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5c9788492774a00a0087af7d
    body:
      encoding: UTF-8
      string: |-
        {
            "recipients": [
                {
                    "id": "6e7b4cea-5957-11e6-8b77-86f30ca893d3",
                    "name": "Jake McFriend"
                }
            ]
        }
  recorded_at: Sun, 24 Mar 2019 13:38:17 GMT
recorded_with: VCR 4.0.0
