---
http_interactions:
- request:
    method: post
    uri: https://private-6d20e-coolpayapi.apiary-mock.com/api/login
    body:
      encoding: UTF-8
      string: '{"username":"your_username","apikey":"5up3r$ecretKey!"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5c978f0f0836cc0a00b53e16
    body:
      encoding: UTF-8
      string: |-
        {
            "token": "aff06fec-e041-4994-849e-223f0569e0bc"
        }
  recorded_at: Sun, 24 Mar 2019 14:07:11 GMT
- request:
    method: get
    uri: https://private-6d20e-coolpayapi.apiary-mock.com/api/payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer aff06fec-e041-4994-849e-223f0569e0bc
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '118'
      Content-Type:
      - application/json
      X-Apiary-Transaction-Id:
      - 5c978f102774a00a0087bcba
    body:
      encoding: UTF-8
      string: |-
        {
            "payments": [
                {
                    "id": "31db334f-9ac0-42cb-804b-09b2f899d4d2",
                    "amount": "10.50",
                    "currency": "GBP",
                    "recipient_id": "6e7b146e-5957-11e6-8b77-86f30ca893d3",
                    "status": "paid"
                }
            ]
        }
  recorded_at: Sun, 24 Mar 2019 14:07:12 GMT
recorded_with: VCR 4.0.0
